body {
    background: #d1e7ff;
  }
  
  .bubble {
    width: 50vmin;
    height: 50vmin;
    background: #6bb0ff;
    border: 4.5vmin solid #9ecbff;
    position: absolute;
    top: calc(50% - (50vmin * .49));
    left: calc(50% - (50vmin * .49));
    overflow: visible;
    border-radius: 48% 40% 62% 47%/61% 49% 64% 43%;
    animation: rotate 35s infinite linear;
    z-index: 1;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(1turn);
    }
  }
  .bubble:before {
    content: "";
    position: absolute;
    top: 5vmin;
    left: 5vmin;
    width: calc(100% - (50vmin * .3));
    height: calc(100% - (50vmin * .3));
    background: #057aff;
    border: 3.25vmin solid #3895ff;
    border-radius: 41% 40% 50% 55%/49% 52% 51% 43%;
    z-index: -2;
    animation: rotateBefore 35s infinite linear;
  }
  
  @keyframes rotateBefore {
    0% {
      transform: rotate(-2turn);
    }
  }
  .bubble:after {
    content: "";
    position: absolute;
    top: 10vmin;
    left: 10vmin;
    width: calc(100% - (25vmin));
    height: calc(100% - (25vmin));
    background: #004a9e;
    border: 2.5vmin solid #0062d1;
    border-radius: 42% 63% 51% 60%/47% 62% 42% 52%;
    animation: rotateAfter 35s infinite linear;
  }
  
  @keyframes rotateAfter {
    0% {
      transform: rotate(2turn);
    }
  }